<div class="leftside-menu">
  <div class="sidenav">
    <ul class="menuItems firstMenu">
      <li (click)="current_mode = 1">
        <input type="radio" id="addRole" name="firstMenu"/>
        <label for="addRole" class="button" (click)="current_mode = 1">Add Role</label>
      </li>
      <li (click)="current_mode = 2">
        <input type="radio" id="AddFact" name="firstMenu"/>
        <label for="AddFact" class="button" (click)="current_mode = 2">Edit Fact</label>
      </li>
      <li (click)="current_mode = 3">
        <input type="radio" id="AssignRole" name="firstMenu"/>
        <label for="AssignRole" class="button">Assign Role</label>
      </li>
      <li (click)="backToProfile()">
        <input type="radio" id="goBack" name="firstMenu"/>
        <label for="goBack" class="button">Back to profile</label>
      </li>
    </ul>
  </div>
</div>

<div class="main-body">
  <div class="container">
    <div class="row" *ngIf="current_mode == 0">
      <div class="col d-flex justify-content-center">
        <h2>Choose options from the menu</h2>
      </div>
    </div>
    <div class="row" *ngIf="current_mode == 1">
      <div class="col-md-6">
        <div class="addRole">
          <h2>Add Role</h2>
          <form>
            <div class="form-group">
              <label for="roleName">Role Name</label>
              <input type="text" class="form-control shadow-none" id="roleName" name="roleName" placeholder="Enter role name"
                     [(ngModel)]="roleName">
            </div>
            <div style="margin-top:2%">
              <label>Choose background color</label>
              <compact-picker [control]="backgroundControl" style="margin-top:1%"></compact-picker>
            </div>
            <div style="margin-top:2%">
              <label>Choose text color</label>
              <compact-picker [control]="textColorControl" style="margin-top:1%"></compact-picker>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <h4>Result : </h4>
        <div class="d-flex justify-content-center">
          <span class="badge rounded-pill mb-2"
                [style.background-color]="backgroundColor"
                [style.color]="textColor">{{role}}</span>
        </div>
        <button class="btn btn-primary bg-danger text-white border rounded d-block w-100 shadow-none" type="submit"
                style="margin-top:2%" (click)="saveRole()">Save
        </button>
      </div>
    </div>
    <div class="row" *ngIf="current_mode == 2">
      <h2>Edit Facts</h2>
      <h5>Add new fact</h5>
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control shadow-none" id="factContent" name="factContent" placeholder="Enter fact content"
                 [(ngModel)]="factContent">
        </div>
      </div>
      <div class="col-6">
        <button class="btn btn-primary bg-danger text-white border rounded d-block w-100 shadow-none" type="submit"
                style="" (click)="saveFact()">Save
        </button>
      </div>
      <div class="col" style="margin-top:2%">
        <h5>Facts</h5>
        <p-table [value]="facts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                 responsiveLayout="scroll"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[10,25,50]"
                 dataKey="id" [globalFilterFields]="['id','Fact']">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">Id
                <p-sortIcon field="id"></p-sortIcon>
              </th>
              <th pSortableColumn="Fact">Fact
                <p-sortIcon field="Fact"></p-sortIcon>
              </th>
              <th>Delete</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-fact>
            <tr>
              <td>{{fact.id}}</td>
              <td>{{fact.fact}}</td>
              <td>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-outlined" (click)="deleteFact(fact.id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="row" *ngIf="current_mode == 3">
      <h2>Assign Roles</h2>
      <h5>Users</h5>
      <p-table [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
               responsiveLayout="scroll"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [rowsPerPageOptions]="[10,25,50]"
               dataKey="id" [globalFilterFields]="['id','username','email','first_name','last_name']">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id
              <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="username">Username
              <p-sortIcon field="username"></p-sortIcon>
            </th>
            <th pSortableColumn="email">Email
              <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="first_name">First name
              <p-sortIcon field="first_name"></p-sortIcon>
            </th>
            <th pSortableColumn="last_name">Last name
              <p-sortIcon field="last_name"></p-sortIcon>
            </th>
            <th>Edit Roles</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-author>
          <tr>
            <td>
              <p-tableCheckbox [value]="author"></p-tableCheckbox>
            </td>
            <td>{{author.id}}</td>
            <td>{{author.username}}</td>
            <td>{{author.email}}</td>
            <td>{{author.firstName}}</td>
            <td>{{author.lastName}}</td>
            <td>
              <button pButton type="button" class="p-button-danger p-button-outlined" (click)="editRoleListModal(author)">Add/Remove
                roles
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog header="User : {{selectedUser.username}}" [(visible)]="displayEditModal">
      <div class="row">
        <div class="col-6">
          <select [(ngModel)]="selectedNewRole" name="Role" id="role">
            <option *ngFor="let label of allLabels" [ngValue]=label>{{label.name}}</option>
          </select>
        </div>
        <div class="col-6">
          <button pButton type="button" class="p-button-success p-button-outlined" (click)="assignRoleToUser()">Add</button>
        </div>
        <div class="row" *ngFor="let label of selectedUser.roles" style="margin-top:5%">
          <div class="col-6">
            <span class="badge rounded-pill mb-2"
                  [ngStyle]="{'background-color': label.background_color, 'color':label.text_color}">{{label.name}}</span>
          </div>
          <div class="col-6">
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-outlined" (click)="removeRoleFromUser(label)"></button>
          </div>
        </div>
      </div>
    </p-dialog>

    <p-dialog header="Assign role to users (optional)" [(visible)]="displayModal" (onHide)="onHideModal()">
      <div class="row">
        <div class="card">
          <h5>Users</h5>
          <p-table [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                   responsiveLayout="scroll"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                   [rowsPerPageOptions]="[10,25,50]"
                   [(selection)]="selectedUsers" (selectionChange)="onSelectionChange($event)" [(selectAll)]="selectAll"
                   (selectAllChange)="onSelectAllChange($event)"
                   dataKey="id" [globalFilterFields]="['id','username','email','first_name','last_name']">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id
                  <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="username">Username
                  <p-sortIcon field="username"></p-sortIcon>
                </th>
                <th pSortableColumn="email">Email
                  <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="first_name">First name
                  <p-sortIcon field="first_name"></p-sortIcon>
                </th>
                <th pSortableColumn="last_name">Last name
                  <p-sortIcon field="last_name"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-author>
              <tr>
                <td>
                  <p-tableCheckbox [value]="author"></p-tableCheckbox>
                </td>
                <td>{{author.id}}</td>
                <td>{{author.username}}</td>
                <td>{{author.email}}</td>
                <td>{{author.firstName}}</td>
                <td>{{author.lastName}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <button pButton type="button" icon="pi pi-check" class="p-button-danger p-button-rounded p-button-outlined"
              style="align-self: end;margin-top:2%" (click)="assignRole()"></button>
    </p-dialog>
  </div>
</div>
