a{
  text-decoration: none;
  border:none;
  outline:none;
  box-shadow:none;
  color:#000;
}

a:visited{
  text-decoration:none;
  border:none;
  outline:none;
  color:#000;
  box-shadow:none;
}

a:hover{
  text-decoration:none;
  border:none;
  outline:none;
  color:#000;
  box-shadow:none;
}

a:focus{
  text-decoration:none;
  border:none;
  outline:none;
  color:#000;
  box-shadow:none;
}

a:hover{
  text-decoration:none;
  border:none;
  outline:none;
  color:#000;
  box-shadow:none;
}
a:active{
  text-decoration:none;
  border:none;
  outline:none;
  color:#000;
  box-shadow:none;
}
li:not(:first-child){
  margin-left:12px;
}

